// /* You can add global styles to this file, and also import other style files */
// body {
//     display: grid;
//     grid-template-rows: auto 1fr; /* header and main take up equal space */
//     grid-template-columns: 1fr; /* full width */
//     grid-template-areas: 
//       "header"
//       "main";
//   }
  
//   header {
//     grid-area: header;
//     display: grid;
//     grid-template-rows: auto 1fr; /* h1 and nav take up equal space */
//     grid-template-columns: 1fr; /* full width */
//     grid-template-areas: 
//       "h1"
//       "nav";
//   }
  
//   h1 {
//     grid-area: h1;
//   }
  
//   nav {
//     grid-area: nav;
//     display: grid;
//     grid-template-rows: 1fr; /* nav takes up full height */
//     grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
//     grid-template-areas: 
//       "home about contact";
//   }
  
//   main {
//     grid-area: main;
//     display: grid;
//     grid-template-rows: 1fr; /* main takes up full height */
//     grid-template-columns: 1fr; /* full width */
//     grid-template-areas: 
//       "shell";
//   }
  
//   #shell {
//     grid-area: shell;
//   }
  
body {
  background-color: azure;
  margin: 0;
  padding: 0;
  height: 100vh;
  max-width: vh;
}